.button-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(231, 231, 213);
    border-radius: 10%;
    width: 60%;
    margin: 20px auto;
    background: rgb(231, 231, 213);
}

.buttons {
    display: flex;
    margin: auto;
}

button {
    font-size: 10px;
    margin: 8px;
    padding: 25px;
    border: 5px solid rgb(218, 166, 146);
    border-radius: 50px;
    background-color: rgb(93, 91, 94);
    color: white;
}

button:hover {
    font-size: 15px;
    padding: 16px;
    background: white;
    color: black;
    border: 3px solid yellow;
    font-weight: bolder;
}

.display {
    font-size: 30px;
    border: 10px solid rgba(224, 173, 173, 0.384);
    background-color: white;
    border-radius: 15%;
    padding: 10px;
    width: 50%;
    margin: 10px auto;
}
